div {
	width:150px;
	height:150px;
	background-color:green;
	display:inline-block;
}
.div2 {
	opacity:0.9;
}
.div3 {
	opacity:0.8;
}
.div4 {
	opacity:0.7;
}
.div5 {
	opacity:0.6;
}
.div6 {
	opacity:0.5;
}
.div7 {
	opacity:0.4;
}
.div8 {
	opacity:0.3;
}
.div9 {
	opacity:0.2;
}
.div10 {
	opacity:0.1;
}
.div11 {
	opacity:0;
}
