div {
	width:100px;
	height:100px;
	background-color:blue;
	position:relative;
	animation:sabzlearn 2s infinite alternate;
}
@keyframes sabzlearn {
	from {left:0px;top:0px;}
	to {left:300px;top:100px}
}